
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.table td, .table th {
    vertical-align: middle !important;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
